input{
    border-radius: 30px;
}
.login-page{
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}



/* Mobile responsive */

@media only screen and (max-width: 768px) {
    body{
        margin: auto;
    }
    .login-page {
      width: 100%;
      margin-top: 1rem;
    }
  }