nav{
    height: 10vh;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover{
    color: rgb(245, 157, 50);
}
nav .active{
    color: rgb(255, 0, 0);
}